/** 
 * Custom CSS for the "mixed" theme of the Tree Style Tab extension. 
 *
 * @author mbellier
 */

/* only show close button on hover */
.tab:not(:hover) .closebox {
  display: none;
}

/* move collapse arrow to the right */
:root.left .tab .twisty {
  order: 10000;
}

/* move close button to the left and replace favicon on hover */
:root.left .tab .closebox {
  order: -1;
  background-color: #aaa;
  margin-left: -5px;
  padding-left: 7px;
  padding-right: 4px;
}
.tab:hover .favicon {
  display: none;
}

/* ensure tab size stays consistent after changes above */
.tab {
 height: 32px;
 background-color: #ccc;
 padding-left: 5px;
}

/* hide scroll bar */
:root.left #tabbar.overflow,
#tabContextMenu,
#tabContextMenu ul {
  margin-left: -17px;
}
:root.right #tabbar.overflow {
  margin-right: -17px;
}
