@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* move window buttons to the right 
  (otherwise, check "show title bar" in the customize palette) */
#nav-bar {
    margin-right: 60px;
}
#titlebar-max {
  -moz-box-ordinal-group: 0;
}
#titlebar-content {
  direction: rtl;
}
#TabsToolbar {
  direction: rtl;
}
#tabbrowser-tabs {
  direction: ltr;
}
